@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*,::before,::after
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

:root
{
    --primary-color:#FF6D1B;
    --secondary-color:#303043;
    --text-white:#fff;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;    
    /* font-weight: bold;     */
    font-weight: 800 !important;
}

a
{
    color: black;
    text-decoration: none;
}

.card
{
    background: #fff;
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 2em 3em;
}

.card--description
{
    padding: 1.5em 0;
}

.card--image
{        
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.flex-row-reverse
{
    flex-flow: row-reverse wrap;
    
}

.flex-column-reverse
{
    flex-flow: column-reverse wrap;    
}

.flex-row
{
    flex-flow: row wrap;    
}

.flex-column
{
    flex-flow: column wrap;    
}

.col-12
{    
    width: 100%;
}

.col-11
{
    /* flex: 11; */
    width: 91.65%;
}

.col-10
{
    /* flex: 10; */
    width: 83.32%;
}

.col-9
{
    /* flex: 9; */
    width: 74.97%;
}

.col-8
{
    /* flex: 8; */
    width: 66.64%;
}

.col-7
{
    /* flex: 7; */
    width: 58.31%;
}

.col-6
{
    /* flex: 6; */
    width: 49.98%;
}

.col-5
{
    /* flex: 5; */
    width: 41.65%;
}

.col-4
{
    width: 33.32%;
}

.col-3
{
    width: 24.99%;
}

.col-2
{    
    width: 16.66%;
}

.col-1
{    
    width: 8.33%;
}

.mx-auto
{
    margin: 0 auto;
}

.my-auto
{
    margin: auto 0;
}

.m-auto
{
    margin: auto;
}

.ml-auto
{
    margin-left: auto;
}

.mr-auto
{
    margin-right: auto;
}

.mt-auto
{
    margin-top: auto;
}

.mb-auto
{
    margin-bottom: auto;
}

.secondary-button
{
    background: var(--secondary-color);
    border-radius: 50px;
    max-width: 150px;
    width: 100%;
    padding: .7em 1em;    
    color: #fff !important;
    border: none;
    outline: none;    
    font-weight: bold;
}

.third-button
{
    background: #fff;
    border-radius: 50px;
    max-width: 150px;
    width: 100%;
    padding: .7em 1em;   
    font-weight: bold;    
    color: #FF6D1B !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;  
}

.secondary-button:hover,.third-button:hover, a:hover
{
    /* color: var(--primary-color) !important; */
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
}

.container
{
    max-width: 1200px;    
    display: flex;   
    margin: 0 auto;
    padding: 1em 1.5em;    
    flex: 1;
    min-height: inherit;
}


.topnav
{
    z-index: 99;
    background: #FFFFFF;
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); */
}

.topnav .container
{
    align-items: center;
}

.topnav .logo
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-right: auto;
    color: var(--primary-color);
    font-size: 1.3rem;
}

.topnav .align-right
{
    margin-left: auto;
}

.topnav a,.topnav .align-right a
{
    padding: 0.5em 1.5em;
}

.topnav a
{
    color: rgba(22, 22, 22, 0.6);
}

.topnav .login
{
    color: var(--primary-color);
    font-weight: bold;
}

#active
{
    color: black;
}

.hero-section::before
{
    content: '';
    background: url(../images/deva-darshan-582315-unsplash.jpg) center;
    background-color: rgba(255, 255, 255, .9);
    background-blend-mode: screen;
    background-size: cover;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 50vh;
    width: 100%;
    height: inherit;
}

.hero-section,.intro-section,.member-section,.describe-section
{
    padding: 2em 0;    
    position: relative;
    min-height: 50vh;        
    height: 100%;    
    width: 100%;        
}

.hero-section .container
{            
    align-items: center;    
    justify-content: center;    
    text-align: center;    
    min-height: 50vh;
}

.header
{        
    color: var(--primary-color);
    font-size: 3rem;
}

.paragraph
{        
    line-height: 1.6;    
    margin: 1.3em 0;
    font-size: 1.1rem;    
    color: var(--secondary-color);
}

.hero__content button
{
    margin-top: 1em;
}

.intro-section .container
{    
    min-height: initial;
    align-items: center;
}

.intro-section .content
{
    padding: 3em 0;
}

.intro__images
{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.member-section::before
{
    content: '';
    background: linear-gradient(96deg, #FF6D1B 0%, rgba(255, 64, 167, 0.99) 100%) center;            
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 50vh;
    width: 100%;
    height: inherit;
}

.member-section
{
    text-align: center;    
    padding: 5em 0;
}

.member-section .container
{
    align-content: center;    
}

.member-section .header,.member-section .paragraph
{
    color: var(--text-white);    
}

.member-section .paragraph
{
    padding: 25px 0;
}

.member-section .card
{    
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.member-section .secondary-button
{
    margin: 7px 0;
}

.describe-section .container
{
    min-height: initial;    
    align-items: center;
    align-content: center;
}

.describe__image
{
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and ( max-width: 1024px )
{

    .header
    {
        font-size: 2.5rem;
    }

    .paragraph
    {        
        font-size: 1rem;        
    }

    .topnav .container
    {
        flex-flow: column;        
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        /* background-color: red; */
    }

    .topnav .container a:not(:first-child),.topnav .container .align-right a
    {
        display: none;
    }

    .topnav .align-right,.topnav .logo
    {
        margin: 0 auto;
    }

    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12
    {        
        width: 100%;
    }
}

@media screen and ( max-width: 600px )
{


}